.slide {
    opacity: 0;
    display: none;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    display: block;
    opacity: 1;
    transition-duration: 1s;
  }

  .carousel{
    /* height: 100%; */
    width: 37%;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
    position: relative;
  }