<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        h2 , h4{
            color: purple;
        }
        a{
            text-decoration: none;
            color: white;
        }
        button{
            padding: 10px;
            background-color: purple;
            color: white;
        }
    </style>
</head>
<body>
    <div>
        <h2>Your email has been verified ✅ </h2>
        <h4>Login your account by click on below link</h4>
        <button><a href="http://localhost:3000/">Login account</a></button>
    </div>
</body>
</html>